rules_version = '2';
service cloud.firestore {
  function isSignedIn() {
    return request.auth != null;
  }
  match /databases/{database}/documents {
    match /users/{userId} {
      allow create: if isSignedIn();
      allow list: if isSignedIn() && request.auth.uid == resource.data.userUid;
      allow read, write: if isSignedIn() && request.auth.uid == userId;
      allow delete, update: if isSignedIn() && request.auth.uid == resource.data.uid;
    }
    match /recentLocations/{userId} {
      allow create: if isSignedIn();
      allow list: if isSignedIn() && request.auth.uid == resource.data.userUid;
      allow get, update, delete: if isSignedIn() && userId == request.auth.uid;
    }
    match /fcmTokens/{userId} {
      allow create: if isSignedIn();
      allow list: if isSignedIn() && request.auth.uid == resource.data.userUid;
      allow get, update, delete: if isSignedIn() && userId == request.auth.uid;
    }
    match /customers/{uid} {
      allow read: if request.auth.uid == uid;

      match /checkout_sessions/{id} {
        allow read, write: if request.auth.uid == uid;
      }
      match /subscriptions/{id} {
        allow read: if request.auth.uid == uid;
      }
      match /payments/{id} {
        allow read: if request.auth.uid == uid;
      }
    }

    match /products/{id} {
      allow read: if true;

      match /prices/{id} {
        allow read: if true;
      }

      match /tax_rates/{id} {
        allow read: if true;
      }
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
