rules_version = '2';
service cloud.firestore {
  function isSignedIn() {
    return request.auth != null;
  }
  match /databases/{database}/documents {
    match /users/{userId} {
      allow create: if isSignedIn();
      allow list: if isSignedIn() && request.auth.uid == resource.data.userUid;
      allow read, write: if isSignedIn() && request.auth.uid == userId;
      allow delete, update: if isSignedIn() && request.auth.uid == resource.data.uid;
    }
    match /recentLocations/{uid} {
      allow create: if isSignedIn() && request.resource.data.userUid == request.auth.uid;
      allow list: if isSignedIn() && request.auth.uid == resource.data.userUid;
      allow get, update, delete: if isSignedIn() && uid == request.auth.uid;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
